[Unit]
Description=Waggle Power Up Service
# Bring-up local lan that dnsmasq wants
Wants=dnsmasq.service
Before=dnsmasq.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/waggle-set-psu-state on on

[Install]
WantedBy=multi-user.target
